/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(83, 151, 214);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    color: #f8f3f3;
    font-weight: bold;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

        button {
        padding: 7px 15px;
        background-color: #966ce4;
        color: white;
        border: none;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #966ce4;
      }


    /* Basic CSS for the body */
    
    
    body {
        font-family: Arial, sans-serif;
        /* margin: 20px; */
        color: #f0f0f0;
        background-image: url('./London_Skyline_(125508655).jpg');
        
        height: 800px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

              }
      
  
      
      .h1 {
          display: flex;
   justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: xx-large;
        font-weight: bolder;
        margin-left: 30px;
        max-width: 50%;
  
          }


          .p {
            display: flex;
     justify-content: center;
    align-items: left;
    margin-left: 30px;
    max-width: 25%;
    margin-top: -100px;

         
            }
      
            .abouth1 {
                
         justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-size: xx-large;
              font-weight: bolder;
              margin-left: 30px;
        
             
             
        
                }
                .aboutp {
                   
             
            align-items: left;
            margin-left: 30px;
            
            margin-top: -350px;
            max-width: 85%;
                }
      label {
        display: inline-block;
        width: 100px;
      }
      
      input[type="text"],
      input[type="number"],
      select {
        width: 200px;
        padding: 5px;
      }
      

  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }